[2020-07-15 02:29] gandersen101 opened #5 "Switch fuzzywuzzy to rapidfuzz"
Fuzzy matching currently provided by fuzzywuzzy should be switched to rapidfuzz. The latter has a more liberal license and runs faster.

[2020-07-15 02:36] gandersen101 opened #6 "Add config customization"
Extend API to allow for adding/removing user-defined predefined regexes and fuzzy matchers.

[2020-07-15 02:37] gandersen101 opened #7 "Extend Read the Docs"
Build out Read the Docs .rst documentation for comprehensive details.

[2020-07-18 23:26] #5 closed

[2020-07-19 22:36] gandersen101 opened #9 "Include Windows Testing"
Add Windows testing to GitHub actions and modify noxfile.py to support Windows.

[2020-07-20 01:35] #9 closed

[2020-07-21 17:50] gandersen101 opened #11 "Add start/end span trimmers to fuzzy matching"
Add functionality to trim fuzzy match spans to keep unwanted tokens from populating the start/end of a match span, i.e. spaces, punctuation, and/or stop words.

[2020-07-25 19:02] gandersen101 commented on #11
This will also apply to regex matching. While regex patterns should be explicit about what they are allowed to contain, when dealing with "fuzzy" regex patterns this isn't possible to guarantee.

[2020-07-25 19:43] gandersen101 opened #12 "Clean Unnecessary Methods From FuzzySearcher"
There are some redundant methods in the fuzzy searcher and the naming of methods should be updated.

[2020-07-25 20:13] gandersen101 commented on #11
Realized this is not the way I want to go about addressing this issue. Closing.

[2020-07-25 20:13] #11 closed

[2020-07-25 20:55] #12 closed

[2020-07-26 20:30] gandersen101 opened #14 "Add Span Start/End Trimming Class Functionality"
Add pipeline component to "clean" entities after setting (primarily intended for spaczz entities).  I.e. if punctuation is included at the start/end of a fuzzy matched entity the span can be trimmed to remove punctuation.

Will also require registering a custom span attribute on entities created through spaczz.

[2020-07-27 14:12] gandersen101 commented on #14
Keep going back and forth on this, but decided this will not be a pipeline component but will be inherited by the fuzzy searcher and regex searcher.

[2020-07-27 14:15] gandersen101 commented on #6
Will only support adding user predefined regex patterns.  This follows the current long-term design that will eventually see the fuzzy search process implemented in Cython.

[2020-07-27 14:22] gandersen101 opened #15 "Refactor to Support Long-Term Design Plans"
Refactoring code to better align with long-term plans of further integrating with spaCy vocabs and eventually implementing pieces in Cython.

[2020-07-27 14:49] #15 closed

[2020-08-15 13:10] kaykhancheckpoint opened #17 "SpazzyRuler ID"
is it possible to add an "id" to the pattern like you can with original spacy api? https://spacy.io/usage/rule-based-matching#entityruler-ent-ids

https://github.com/gandersen101/spaczz#spaczzruler

[code]

**Pattern**: {'label': 'PERSON', 'pattern': 'DrDisrespect', 'id': '148265b0-847b-414c-9f8e-916561412c55', 'type': 'fuzzy'}
**Text**: "Dr Disrespect to Returns Aug. 7 With YouTube Stream, Will E

[2020-08-15 15:19] gandersen101 commented on #17
Hi @kaykhancheckpoint,

Thanks for your interest in spaczz. It's nice to see interested users, but I'm sorry you're having this issue.

Adding an "ent_id" like in spacy's entity ruler should be doable, just give me a couple days to implement this feature as it is only me currently working on this project. Hopefully I can have it addressed by the end of the weekend.

However, I am a little confused

[2020-08-15 17:36] kaykhancheckpoint commented on #17
Hey i managed to get that working, but I'm not sure why it wasn't working with my code base, ill take a look at it.

Anyway thanks for taking a look into the "ent_id", it's going to be be super useful for me.

[2020-08-17 02:24] gandersen101 commented on #17
Hi @kaykhancheckpoint the "ent_id" feature is now implemented in the branch, [enhancement-ent-ids](https://github.com/gandersen101/spaczz/tree/enhancement-ent-ids). I have some more housekeeping to do before merging it into master and creating a new build but I intend to have that done sometime later tomorrow.

As there will be a few other changes included in the next release (v0.2.0), please make

[2020-08-17 08:14] kaykhancheckpoint opened #18 "How to restrict fuzzy search"
Is it possible to restrict the fuzzy search because in my example it is returning unwanted entities.

The unwanted entity here is ('YouTube', 'PERSON'), is there some way to restrict the fuzzy search so that it does not identify YouTube in the text to be a person?

**Full Code:**

[code]
**EDIT**:

i noticed  rapidfuzz library provides a `score_cutoff` as a parameter im looking to set this to 95 s

[2020-08-17 14:01] gandersen101 commented on #18
Hi again @kaykhancheckpoint. The docs actually make this unclear, but the current version of spaczz on pypi (v0.1.1) actually still uses fuzzywuzzy instead of rapidfuzz, but that will change in the next release (v0.2.0 which will also include the ent_id enhancement you asked for).

Regarding your ask however, fuzzywuzzy vs rapidfuzz shouldn't be an issue. Spaczz's fuzzy matching optional kwargs al

[2020-08-17 14:01] #18 closed

[2020-08-18 01:39] #17 closed

[2020-08-25 07:47] sasi143 opened #20 "Speed up the detection process"
First of all, really appreciate your work and time.

With small input data patterns, it is doing a good job, but when input data patterns crossing more than 1 lakh, it is taking too much time. Is there any possibility which can speed up the process (maybe using on GPU)

[2020-08-26 03:03] gandersen101 commented on #20
Hi @sasi143, thanks for your interest in Spaczz. I am very interested in improving the speed of the fuzzy matching process, however, for reasons I'll outline below, I unfortunately do not think this will happen in the near future without additional contributor(s).

I believe the performance bottleneck(s) in spaczz's fuzzy matching come from the amount of time the code spends in pure Python iterati

[2020-08-26 11:31] sasi143 commented on #20
@gandersen101 Really thankfull to your well explaination and appreciate for your time. Keep doing good work and stay safe.

[2020-09-16 11:29] Matt52 opened #21 "accessing match ratio/score"
Is it possible to get ratio (some sort of distance/similarity score) for each match?

[2020-09-16 23:22] gandersen101 commented on #21
Hi @Matt52 thanks for the request. Adding the fuzzy ratios for matches should be doable. I didn't include them in the Matcher/Ruler returns in order to match spaCy conventions. However, I think I can add the fuzzy ratios as custom Span attributes.

I haven't had a lot of time to work on spaczz lately, but am hoping to set some time aside in the near future. Hopefully I can add this feature in the

[2020-09-17 10:49] Matt52 commented on #21
Hi @gandersen101 , thanks for a quick reply. That would be great if you could add it. I think it could be very useful.
BTW really awesome library. I am playing with it for few days and I really like its performance and simplicity. Nice job!

[2020-09-21 21:51] gandersen101 commented on #21
Hey @Matt52, thanks for the kind words. I'm hoping to have this feature added and to create a new release in the next day or two. I have it working locally and just need to do some additional testing and update the documentation before wrapping it up.

[2020-09-23 14:27] gandersen101 commented on #21
Hi again, @Matt52, this feature will be added in spaczz v0.3.0 set to release in the next hour or so. Please look through the updated readme (with new release notes) to see it's usage patterns. Hope it helps! Let me know if you run into any issues.

[2020-09-23 14:42] #21 closed

[2020-09-25 07:01] Matt52 commented on #21
Hi @gandersen101, great news! Thank you. I will let you know in case I will see any issues.

[2020-09-28 14:04] Matt52 opened #23 "Phrase search considering synonyms"
Would it be possible to use this matching library also for some smarter phrase search which would take into consideration spacy's word vectors?
For instance, if I create a matcher object like this:
[code]

Then it would be maybe interesting to see also match for a sentence like in this example:
[code]
where there is a sub-phrase "funny story" which is a synonym to a phrase "humorous story" we adde

[2020-09-30 19:46] gandersen101 commented on #23
Hi @Matt52, this is an interesting idea that I think could be implemented in a similar fashion to the way the fuzzy matcher is currently implemented but it would use spaCy's existing `Span.similarity` method instead of fuzzy matching. I don't have a definite timeline on getting this implemented but I will definitely start working on it as time allows.

[2020-11-09 05:48] Ibrokhimsadikov opened #24 "Adding POS tagging while building pattern for Spaczzruler"
Hello, I am really liking Spaczz, to fuzzy match entity patterns.

Quick question is there a way to add a for example POS tagging constraints as well. For example: I want to extract only Noun phrases of AS, but fuzzy match also getting me 'as' from "as above function"
'i' below here is each string from list of vocab to match
{'label': "ECHO", 'pattern': [{'TEXT': i,  'POS': 'NOUN'}], 'type': 'fuzz

[2020-11-10 00:01] gandersen101 commented on #24
Hi @Ibrokhimsadikov, thanks for the kind words. I have gotten behind on spaczz maintenance and improvements lately but am hoping to get back on track in the near future.

I believe implementing some form of POS constraints should be doable but I'm going to half to think about how I actually want to go about it.

I will keep you updated here as that progresses.

[2020-11-10 02:53] gandersen101 commented on #23
Hi @Matt52 sorry for the really slow development on my end. Between work and the stress of the recent election cycle here in the US I have not been very productive. I have picked this issue back up again and have about 1/2 the work done in the new branch enhancement-similaritysearch. Hoping to have a release ready in the next couple days.

There will likely be more changes as I continue working on

[2020-11-12 16:24] gandersen101 commented on #23
Hi @Matt52 I am publishing a new release (v0.3.1) shortly and will close this issue accordingly. Please check out the new details about the SimilarityMatcher in the readme when the release happens and let me know if you have any additional questions/issues. Thanks!

[2020-11-12 16:49] #23 closed

[2020-11-24 18:03] gandersen101 opened #26 "Refactor Search"
There is a lot of redundancy between fuzzy search and similarity search - they both essentially use the same search algorithm. They should inherit the same base and only make the small tweaks necessary.

[2020-12-02 19:46] #26 closed

[2020-12-07 18:55] gandersen101 opened #28 "Refactoring Matchers"
Matchers could benefit from inheriting from a base class and the searchers used in them should be composed rather than inherited.

[2020-12-09 18:14] #28 closed

[2020-12-09 18:16] gandersen101 opened #30 "Build - Python 3.9 Testing"
Add Python 3.9 into the nox build process. Don't anticipate issues but want to have it covered.

[2020-12-09 22:45] #30 closed

[2020-12-15 18:35] gandersen101 commented on #24
Hi @Ibrokhimsadikov, sorry there has not been much visible development on this issue yet. However, I did want to update you on where I am at with thinking/working through this.

The ideal way to add this feature would be adding fuzzy matching support directly into spaCy's matcher, however because much of this is written in Cython, it is beyond my current coding capabilities.

Accordingly, my origi

[2020-12-15 19:00] Ibrokhimsadikov commented on #24
Dear @gandersen101,

First of all, thank you so much for not forgetting about me. I am so much grateful for your effort as this is the only library that integrates fuzzy approach. With spaczz I was able to get more entities rather than only using spacy's matcher. As you know, one of the biggest issues in NER is building dictionary/knowledge base which usually comes with different variations of str

[2020-12-16 04:14] gandersen101 commented on #24
Hi @Ibrokhimsadikov thanks for the kind words. I'm very happy that you and others are finding this project useful. I certainly haven't forgotten about this request, I've just had less time than I would like to work on spaczz lately.

The `AbstractedMatcher` in the example above is just a placeholder which I will probably end up naming `SpaczzMatcher` and I will also incorporate it's functionality

[2020-12-16 05:44] Ibrokhimsadikov commented on #24
Thank you so much for your response I will start using it. Immense thanks

[2020-12-23 11:48] ronyarmon opened #34 "Fuzzy Match of Term Combinations"
My task is querying medical texts for institute names using a rule as below:
`[{'ENT_TYPE': 'institute_name'}, {'TEXT': 'Hospital'}]`
The rule will extract the hospital name only if it is bound by the word 'Hospital', including for example "Mount Sinai Hospital" but excluding "Mount Sinai".
spaczz works great for single term or phrase but I did not see an option to build multi-words rules as in th

[2020-12-24 02:54] gandersen101 commented on #34
Hi @ronyarmon, thank you for your interest in spaczz! I believe you are asking for matching control in spaczz similar to spaCy's Matcher (token level patterns that support multiple tokens and token attributes). If so, I am actively working on this feature as requested in issue #24.

Seeing that I have already started documenting my progress on that issue, I am going to mark this as a duplicate. If

[2020-12-25 17:04] ronyarmon commented on #34
Thanks for your reply, my question is indeed a duplicate, I'll follow issue #24 but will try to explore the Cython source as well.

[2020-12-26 06:43] ronyarmon commented on #24
People interested in using the cython source may find this question of interest:
https://stackoverflow.com/questions/65454160/incorporating-fuzzy-search-in-a-matcher-object

[2020-12-26 16:56] gandersen101 commented on #24
Hi @ronyarmon thank you for keeping us updated with your research.

I hope to eventually Cythonize the algorithmic components of spaczz and integrate them with spaCy Vocab objects but that is currently beyond my programming capabilities. It will be a fairly long-term process for me to develop my C/Cython skills enough to accomplish that so if you and/or others are able to accomplish that faster/be

[2020-12-26 16:58] gandersen101 commented on #34
Closing as duplicate. Please see issue #24 for updates/developments.

[2020-12-26 16:58] #34 closed

[2020-12-30 02:32] gandersen101 commented on #24
So as of now I have implementing this feature broken up into 5 distinct elements that I will be working on mostly sequentially.

- [x] Create the algorithm that will search through a `Doc` using token patterns.
- [ ] Create mapping for output of algorithm to spaCy `Matcher` compatible patterns.
- [ ] Wrap the algorithm and mapping into the `SpaczzMatcher`.
- [ ] The `SpaczzMatch` won't be able to

[2021-01-11 03:14] gandersen101 commented on #24
More progress on this feature. Please see the roadmap below:

- [x] Create the algorithm that will search through a `Doc` using token patterns.
- [x] Create mapping for output of algorithm to spaCy `Matcher` compatible patterns.
- [x] Wrap the algorithm and mapping into the `SpaczzMatcher`.
- [ ] The `SpaczzMatch` won't be able to return match ratios itself so I will move all match ratio informati

[2021-01-11 03:22] Ibrokhimsadikov commented on #24
Thank you for sharing that @gandersen101

[2021-01-12 06:59] ArvndSpidy opened #40 "IndexError: [E201] Span index out of range."
fuzzy matcher unable to process matcher(doc). It was working 48 hours back. It's not working now.

File "xxxxxxxxxxxxxxxxxxxxxxxxxx", line 46, in pattern_matcher
    matched_by_fuzzy_phrase = matcher_fuzzy(doc)
  File "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/lib/python3.8/site-packages/spaczz/matcher/fuzzymatcher.py", line 105, in __call__
    matches_wo_label = self.match(doc, pattern, **kwargs)

[2021-01-12 14:56] gandersen101 commented on #40
Hi @ArvndSpidy, sorry you have run into this error. I could use some more information from you to better diagnose this problem.

1. Could you provide the code snippet, doc text, and pattern(s) that are producing this error?
2. Are you using the PyPi package of spaczz v0.3.1?
3. Could you provide your virtualenv details (i.e. Python/package versions)?

Nothing has changed in the version of spaczz a

[2021-01-16 02:50] gandersen101 commented on #40
Hi @ArvndSpidy if I don't hear back from you in the next few days I'm going to go ahead and close this issue. If it pops up again please feel free to open another issue and provide the details I asked for above. Thanks!

[2021-01-17 15:24] brunobg commented on #40
Not OP, but I can reproduce this. Here's the info.

Snippet: the same code from the tutorial, but I'm using the pt model. I don't know if that makes a difference.

[code]

where fuzzypatters is a list like this:

[code]

Words contain spaces and non-ascii characters, 1071 items, but see more below.

Versions:
[code]

Python 3.8.6
spacy==2.3.5
spacy-lookups-data==0.3.2

This is linked to the conten

[2021-01-17 15:33] brunobg commented on #40
Wild guess, I think the bug is here: https://github.com/gandersen101/spaczz/blob/v0.3.1/src/spaczz/fuzz/fuzzysearcher.py#L319. I think it should be `<` instead of `<=`.

I notice master is quite different from 0.3.1. Are you releasing a new version soon? Is master stable?

[2021-01-17 15:42] brunobg commented on #40
Actually, debugging it here, the problem happens when `bp_l == bp_r`, not when it's out of bounds.

Suggestion for a fix:

[code]

[2021-01-17 15:48] brunobg opened #41 "Plural is not chosen over similar word"
How to reproduce: fuzzy pattern with "Goldriesling", "Riesling", default fuzzy_func. Search on a phrase like `They sell many Rieslings`.

Found: `Goldriesling`. Expected: `Riesling`.

[2021-01-17 16:08] brunobg commented on #41
I also am getting a fuzzy result preferred over an exact match if the list contains similar names.

[2021-01-17 16:34] brunobg commented on #41
Ok, so here's what I found out. If I'm using SpaczzRuler with a reasonably large (~1000) list of items where some are similar words to others, it often finds something that is not what I expect.

1. An exact match does not happen.  Example: "Pinot Meunier" or "Pinot Nero" is found for "Pinot Noir". This seems to be affected by compound terms, so that it prefers to find a close term which the previ

[2021-01-17 19:36] gandersen101 commented on #40
Hi @brunobg, thank you for putting in the work to track this bug down!

I will dig into this more and hopefully have a fix ready soon.

To address your other questions, I am hoping to have a new release ready in the next couple days (adding a token based matcher) and I will hopefully have this bug addressed with that release as well.

The master should always be stable, but now that I am getting m

[2021-01-17 19:39] gandersen101 commented on #41
Hi @brunobg. It's exciting to see more interest in spaczz! As I mentioned to you in issue #40, I am close to a new release for spaczz adding a token-based matcher, hopefully addressing the bug in issue #40, and a few other changes. After that is complete I will dig into your questions here. Just wanted you to know that I've seen this and will definitely address your issues in the near future.

[2021-01-18 18:02] brunobg commented on #41
Thank @gandersen101! I'm willing to test your new code and help debug any issues, so ping me if you think it's stable enough for that. Really looking forward to the new version.

The question we devs hate: do you have a target date? :D

[2021-01-18 23:30] gandersen101 commented on #40
Hi again @brunobg. Pull #43 addresses this bug and it will be part of spaczz's 0.4.0 release, which I hope to have ready by the end of my day tomorrow. I will close this issue with the aforementioned release.

Your proposed fix to this bug was a viable solution so thank you again! I extended your fix a little (probably overkill) because I'm not entirely sure where in the optimization bp_l can equa

[2021-01-19 02:15] gandersen101 commented on #41
Hey @brunobg, the code in master is stable so feel free to play around with it. There is a decent bit of refactoring and new features in there but most of the preexisting components behave mostly the same. I'm hoping to have the next release out tomorrow, Jan 19th, towards the end of the day EST, but it could take another couple days.

[2021-01-19 13:42] brunobg commented on #40
Thanks! I was glad to help. I can't close this since I'm not OP. I'll test your release as soon as it comes out.

[2021-01-19 14:05] brunobg opened #44 "Possible infinite loop"
Running my tests with spaczz@master they seem to get into an infinite loop at the `nlp()` call. Stack dumps:

[code]

another ctrl-c during another run:

[code]

[2021-01-19 14:09] brunobg opened #45 "Handling the same token in different categories"
This is not a report, but a question. If I have the same token with two different labels, how will spaczz handle it? The question comes because spacy seems to pick the label unpredictably: https://github.com/explosion/spaCy/discussions/6752

Questions:

a) is it possible to get both matches somehow? I'm interested in getting a list of all matches of a LABEL sometimes, and the "best ones" in other

[2021-01-19 14:12] brunobg commented on #40
Actually, this is happening on master too:

[code]

[2021-01-19 14:15] brunobg commented on #40
Fix on `spaczz/search/_phrasesearcher.py", line 256`:
[code]

[2021-01-19 14:25] brunobg commented on #41
@gandersen101 I tested it, but I'm still getting very weird results, particularly with  exact matches being missed and other matches returned instead, even with single words (`Egito` for `Argentina`).

My idea of using spaczz is handling typos for words that are not in dictionaries, so a spell checker would be useless. I have a list of around 2k terms in 8 categories. I'm happy to help with testin

[2021-01-19 16:36] gandersen101 commented on #41
Hey @brunobg, so I hadn't actually had a lot of time to explore your questions here yet so the code in master shouldn't result in many differences in results from what you're seeing in the latest release.

I will caution you that spaczz is a one person, passion project that is still pre v1.0.0. Any production use should strictly be at your own risk. I use spaczz in a batch process at my job and ha

[2021-01-19 17:05] gandersen101 commented on #40
Hey @brunobg, looks like the above is what happens with an empty string. Easy fix. Thanks for catching this.

[2021-01-19 17:22] gandersen101 commented on #44
Hi @brunobg, this is concerning but hard to diagnose when the information at hand. If there is any way you could pinpoint what pattern(s)/doc(s) combinations are causing this that would be extremely helpful. Spaczz is well coverage tested and I have used it on the job on medical texts but new issues will always come up as people apply spaczz in new settings.

One thing to keep in mind is that spac

[2021-01-19 18:22] brunobg commented on #44
This happens only in one specific test, so I can probably isolate the pattern like I did before. It has been "fast enough" on every other test, which is why I think it's an infinite loop. Other tests take milliseconds, this one is still going after 10 seconds. Speed is not an issue for me within reasonable times.

I read #20 and it makes sense to me (though running it through a profiler would help

[2021-01-19 18:23] brunobg commented on #41
Wow, thank you for the long and detailed reply. This is incredibly helpful. I need to go back to my code now and modify it with your hints, then I'll reply with my findings.

A couple of remarks:

- I'm using `pt_core_news_sm`. Perhaps this can influence the results.
- The text had `Argentina` and the match was `Egito`.

Thanks for the great project. I'll try to devote some time to help you. One-p

[2021-01-19 18:40] brunobg commented on #44
Closing this. You're right, it just takes long (~100 time longer than scrapy NER).

[2021-01-19 18:40] #44 closed

[2021-01-20 00:25] gandersen101 commented on #41
You're welcome @brunobg !

I tried using the `pt_core_new_sm` model on my previous tests, although I am still writing in English (unfortunately, my only language) so the results were a little funky.

[code]
    [(They sell many, False), (Rieslings, True), (Pinot Nero, True), (Pinot Noir, True), (Riesling, True)]

The model ner thinks "They sell many" is an entity and it doesn't capture "one two" b

[2021-01-20 14:21] brunobg commented on #41
Thanks. I think the mismatches I reported are caused by a mix of the pt mode and the size of the pattern list. It's probably not that easy to reproduce in a small, contained test.

I am a bit worried with the performance of spaczz to use it in practice. I could help you to profile and see if there are obvious optimizations, because the ~100x slowdown becomes unfeasible (I was expecting up to ~10x,

[2021-01-20 15:49] gandersen101 commented on #41
Short answer for now as I am trying to wrap up v0.4.0 and the potential changes you're asking for could be patch version changes. A combination of ideas you've presented and settings tweaking could definitely optimize things considerably. I'll give a more detailed update later today or tomorrow. That being said, attempting some of these optimizations will be a priority for me after the next releas

[2021-01-20 16:04] gandersen101 commented on #45
Hey @brunobg, putting me through the paces! Lol. I am going to focus on your other issue #41 first but then we can play around with this.

The SpaczzRuler more or less copies the spaCy's EntityRuler, just building on to it where needed, so I believe its label choices will be similarly unpredictable.

However, as I showed in #41 the FuzzyMatcher (along with the RegexMatcher and the new TokenMatcher

[2021-01-20 19:34] gandersen101 commented on #24
A few days overdue but this is closed by spaczz v0.4.0. Hopefully you all enjoy it. Please raise an issue if you run into any bugs!

[2021-01-20 19:34] #24 closed

[2021-01-20 19:34] gandersen101 commented on #40
This is closed by spaczz v0.4.0. Hopefully you all enjoy it. Please raise an issue if you run into any more bugs!

[2021-01-20 19:34] #40 closed

[2021-01-20 19:45] Ibrokhimsadikov commented on #24
Thank you so much @gandersen101, I will definitely try that. Just FYI, I know it is known fact with speed issues, I want to share my observations: for processing 2mln reports with average of 150words each, it took approximately 20 days to process them, while with entityruler from spacy 3 days, in production with AWS ml.m5.12xlarge notebook instance. For pos Spaczz is amazing, Thank you once again,

[2021-01-21 18:03] gandersen101 commented on #24
Hey @Ibrokhimsadikov. Thank you for the speed profiling. Definitely a lot of room for improvement. Issue #41 turns into a performance discussion and I am planning on doing some (hopefully substantial) enhancements very soon. I will also try to keep track of major performance updates in issue #20 over the long-term.

Let me know if you have questions on the token matcher. There is an example in the

[2021-01-21 19:57] brunobg commented on #41
Right. Look, I could perhaps help by adding a more "real life example". Load patterns (list of country names could work work well, ~200, easy to find a good one) and a few longer texts. This would be useful to as a harder test to complement the unit ones, since it's more likely to catch a weird combination like #40, and could also be a basic benchmark. Is it something you'd like? If so, let me kno

[2021-01-22 00:30] gandersen101 commented on #41
Hey @brunobg that would be much appreciated and helpful. An `examples` directory sounds like a good place to put these as well.

As far as the computational complexity of the search algorithm I'm using, I'm a little embarrassed to say I'm not sure. I familiar with the concepts of O notation but I only started coding a few years ago for a University Data Science program. Most of my engineering skil

[2021-01-22 00:31] gandersen101 commented on #20
Issue #41 has turned into a performance discussion and I am planning to make some performance improvements very soon. I will provide a summary of those changes on this thread soon.

[2021-01-25 14:08] brunobg commented on #41
I suggest you read briefly on algorithmic complexity. This is the most important thing when optimizing code. If the algorithm is bad, no good implementation will be able to compete with a slower implementation of a better algorithm.

I think your suggestions are very sound and should make things much faster. spaczz should be always slower than Spacy since a fuzzy comparison will always be slower,

[2021-01-30 21:22] brunobg commented on #41
PR with examples in https://github.com/gandersen101/spaczz/pull/47

[2021-01-30 23:35] gandersen101 commented on #41
@brunobg thank you for the examples in #47. I will pull that soon and start experimenting with the examples and using them as benchmarks.

I will also try to spend some time on algorithmic complexity to hopefully further improve spaczz's speed.

I am about to release v0.4.1 which incorporates some of the optimization I discussed above.

1. I eliminated the unnecessary extra comparison.
2. If `flex

[2021-02-18 11:14] thedjinn opened #49 "Add spaCy 3 compatibility"
Currently spaczz does not install alongside the new spaCy 3 release. Attempting to upgrade a project to spaCy 3 while also using spaczz gives the following Pip error message:

[code]

[2021-02-18 18:45] gandersen101 commented on #49
Hi @thedjinn. This is definitely a high priority for me. I am wrapping up a couple small fixes/enhancements now. If adding spaCy 3.0 compatibility does not require large changes (I don't think it will) I will include the spaCy 3.0 compatibility in the next release hopefully by the end of the weekend.

[2021-02-23 00:35] gandersen101 commented on #49
I'm a little behind schedule but hoping to have this done by Wednesday.

[2021-02-24 01:02] gandersen101 commented on #49
I was able to get v3 support working today however I am struggling with how to support both v2 and v3 at the same time which would be ideal. Unfortunately, I am going to end up spending some more time on this. Thanks for your patience.

[2021-03-01 18:59] #49 closed

[2021-03-01 20:04] gandersen101 commented on #49
I am having trouble getting the latest release uploaded to PyPi, as there seems to be an issue over there. Hopefully it will be resolved by the end of the day. Downloading the latest release available here should work in the meantime though.

[2021-03-05 01:48] gandersen101 opened #53 "Comparison method(s) for fuzzy ratios and fuzzy regex counts"
In order to sort `SpaczzRuler` matches across the different matchers by quality, I need a method or methods for comparing fuzzy ratios (ints between 0 and 100) and fuzzy regex counts (tuples of insertion, deletion and substitution counts). Standardizing the fuzzy regex counts back to a ratio is probably the most effective method at first thought.

[2021-03-05 01:51] gandersen101 opened #54 "Return match quality details from the TokenMatcher"
Need to develop a way to return match quality details (fuzzy ratios and fuzzy regex counts) from `TokenMatcher` matches. I currently only do the fuzzy matching token patterns in spaczz before dropping the fuzzy matched patterns into spaCy's `Matcher`. While utilizing spaCy's `Matcher` means less work on my end and better performance I don't have an easy way to map the fuzzy details back to the `Ma

[2021-03-05 01:58] gandersen101 commented on #41
Hi @brunobg I know it's been a little while but I wanted to provide some updates. I reformatted some of your examples you provided but the core of them remains the same and they helped me identify a few issues in the SpaczzRuler. I believe I took care of most of the quirks in the SpaczzRuler's matching process in v0.4.2. There are additional improvements to be made but I think I can break these in

[2021-03-09 02:19] #41 closed

[2021-03-09 02:27] gandersen101 commented on #45
Hi @brunobg. So as I mentioned and showed the Matchers (fuzzy, regex, and token) will all provide all the available matches even if one match belongs to multiple categories. However there is not an easy way to provide configurable logic for this in the SpaczzRuler like with spaCy's EntityRuler. The matches go through at least one set and sort operation (descending length, ascending start position,

[2021-03-09 14:08] brunobg commented on #45
I understand. I imagine the only way to deal with this would be to handle the categories separately. If I create two spaczzrulers, could I get the results separately? This way the application could process data however it sees fit. This actually is a problem with Spacy as well, and the only way to handle it is through changing the ruler to store data in the `_` metadata.
Other than this question I

[2021-03-11 14:49] gandersen101 commented on #45
Hmm, I'm not sure if adding another SpaczzRuler to the pipeline would help because spaCy tokens/spans can only belong to a single entity. If the first ruler adds entities of one label to the doc, when the second ruler tries to add the same entities (even if they have a different label) they will be ignored (or overwritten with the new label if overwritting is enabled). Like you mentioned this is a

[2021-03-13 18:47] brunobg commented on #45
I think this is a big problem in spacy and that you shouldn't try to do better than they do. (2) would be nice to have since it makes the usual way to handle it (separate fields in _) easier, so if that is not complicated to implement go for it.

[2021-03-16 11:05] Lostincodes opened #55 "Get original matched pattern back"
Hi,
A very useful feature would be to have the original pattern matched by SpaczzRuler, because when similar patterns are added, there may be doubts about which one is the original pattern matched. I guess this issue connects to a potential link with spacy knowledge base id's.
Thank you

[2021-03-20 01:05] #45 closed

[2021-03-20 01:19] gandersen101 commented on #55
Hi @Lostincodes, I've been in a busy stretch at work so thanks for your patience.

So this currently is not a part of spaczz because it isn't part of spaCy as far as I know. That being said it isn't as important for spaCy because generally the matches with spaCy components exactly match their patterns, which obviously is not the case for spaczz.

I've gotten this request a couple times now so I ne

[2021-03-22 12:37] lfoppiano opened #56 "SpaczzRuler configuration"
Hi,
   I could not find a way to set the various matching parameters using spacy 2, in the SpaczzRuler documentation https://github.com/gandersen101/spaczz/blob/master/examples/fuzzy_matching_tweaks.md there is only the spacy 3 syntax.

I also found this https://github.com/gandersen101/spaczz/issues/18 and I tried to applied using the following:

``ruler = SpaczzRuler(self.nlp, spaczz_fuzzy_defaul

[2021-03-24 01:12] gandersen101 commented on #56
Hi @Ifoppiano. Thanks for the feedback! Spaczz's internal syntax is mostly the same regardless of spaCy v2/3. The main difference is how spaCy v3 deals with adding pipeline components, so it looks like you are changing the fuzzy defaults correctly.

There's a decent amount of detail below but TL;DR: Make your `min_r` values more permissive and you'll see more meaningful results.

I believe you are

[2021-04-04 23:52] gandersen101 commented on #56
Hi @lfoppiano. I'm going to go ahead and close this but if you're still experiencing issues feel free to open another issue.

[2021-04-04 23:52] #56 closed

[2021-05-19 10:47] marmg opened #59 "Op + does only match 1 token"
I'm using the SpaczzRuler pipeline as specified in [here](https://spacy.io/universe/project/spaczz/) to detect companies based on patterns.  Is a very simple pipeline in which I'm trying to match uppercase tokens, but when using the operator + it matches only one token in uppercase, and not as many as possible. The [documentation](https://spacy.io/api/matcher) says:
``+ | Require the pattern to ma

[2021-05-22 16:36] gandersen101 commented on #59
Hi @marmg thank you for bringing this to my attention. I have been very busy with my work and personal life the past few months but I believe I can get this fixed over the next few days.

This stems from the SpaczzRuler inconsistencies outlined here: [https://github.com/gandersen101/spaczz#SpaczzRuler-Inconsistencies](url) but is actually caused by spaCy behaving in a way I didn't realize it did.

[2021-05-22 21:19] #59 closed

[2021-05-22 21:22] gandersen101 commented on #59
This actually ended up being a pretty straightforward fix. Let me know if you continue to run into issues. Thanks!

[2021-05-26 21:07] davidggphy opened #61 "Compare strings stripping accents/casi sensitive"
First of all, thanks for the library @gandersen101 . I'm starting using it and it's really powerful.

Using `SpaczzRuler` with `fuzzy` patterns, by default it compares strings in a case-insensitive way. Is there a way of changing this behaviour?

Similarly, is there a way of comparing strings w/o taking into account accents? This is, making "test" equivalent to "tést". It could be hacked changing

[2021-05-29 19:26] gandersen101 commented on #61
Hi @davidggphy, thanks for the kind words!

Making the fuzzy matching in spaczz case-sensitive is pretty straightforward. If you're using the `SpaczzRuler` you can either control this on the ruler-level or the pattern-level as shown below:

**Pattern-Level**
[code]
    ('testing', 0, 1, 'TEST', 100)
    ('TESTING', 2, 3, 'TEST', 100)

**Ruler-Level**
[code]
    ('testing', 0, 1, 'TEST', 100)
    (

[2021-06-06 20:57] gandersen101 commented on #61
Hi @davidggphy did the above adequately answer your question? If you still need/want a feature implemented please let me know and I can track that in this issue, otherwise I will close this issue in the next couple days. Thanks!

[2021-06-13 21:49] #61 closed

[2021-06-23 16:45] davidggphy commented on #61
Dear @gandersen101 ,

Sorry for my late reply. I tested what you said. Sadly, as you said, RapidFuzz performs preprocessing on the strings, but this does not involve "deaccent".  It would be really interesting to add the custom callabale for preprocessing in order to compute the fuzzy scores.

As you said, the other possibility is to preprocess the text before sending it into the matcher, but then

[2021-07-01 09:40] karrtikiyer opened #64 "RegexMatcher: Match Captures?"
I am able to get this [regex](https://pythex.org/?regex=(%3Fi)proficiency%20in%20(%5B%5Cw%5Cs%5D%2B)%20tools%20like%20(.*%24)&test_string=Hello%20how%20are%20you%3F%20Proficiency%20in%20ETL%20tools%20like%20Informatica%2C%20Talend%2C%20Alteryx%20and%20Visualization%20tools%20like%20PowerBi%2C%20Tableau%20and%20Qlikview.&ignorecase=0&multiline=0&dotall=0&verbose=0) working using below code.

[code]

[2021-07-03 16:37] gandersen101 commented on #64
Hi @karrtikiyer. Spaczz's regex matching essentially just extends on the spaCy's docs own recommendations for [applying regex to a full text](https://spacy.io/usage/rule-based-matching#regex-text). You can see the same ideas implemented in spaczz's `RegexSearcher.match()` method. As of now, spaczz only captures the regex match span and fuzzy counts, however it would be relatively simple to capture

[2021-07-03 16:40] gandersen101 commented on #61
Hey @davidggphy, thanks for the additional info. I am planning on doing a spaczz feature upgrade/overhaul in the near future and will keep the ability to add custom preprocessing without modifying the doc in mind. Thanks!

[2021-07-05 08:17] karrtikiyer commented on #64
Thanks a lot @gandersen101

[2021-07-24 15:46] wTaylorBickelmann opened #65 "Threshold fuzzy ratio using FuzzyMatcher"
I have a custom component in a spaCy pipeline where I am using the FuzzyMatcher. The tutorial does a good job showing how to implement a threshold using the spaczz_ruler  but it is less clear how to do this using the FuzzyMatcher. I am struggling to implement a threshold system where a user can configure a threshold. The following system is not effective. What would be a better way to implement a

[2021-08-04 15:14] wTaylorBickelmann commented on #65
Thanks for the reply. The code you shared address my question.

Quick aside: it is possible to return the original word whose fuzzy version was matched? For example  if I passes a term list
[code]

[2021-08-12 19:07] wTaylorBickelmann commented on #55
This solution behaves a little strangely depending on whether you use a blank spacy model or one of the default english ones. When applying the solution to a blank en model the solution works fine but when applying it to `en_core_web_sm` it gives empty strings under the ID field sometimes. Is there a way to address this?

[2021-08-12 19:07] wTaylorBickelmann commented on #55
<img width="846" alt="Screen Shot 2021-08-12 at 3 03 36 PM" src="https://user-images.githubusercontent.com/57469687/129254494-528d3b1a-41d2-4556-838f-468905d6a45e.png">

[2021-08-15 21:32] gandersen101 commented on #55
Hi @wTaylorBickelmann. I believe what is happening when you have the `en_core_web_sm` model in the pipeline then add the `SpaczzRuler`, is that the ruler is being added to the end of the pipeline after the models NER model component. The NER is tagging `“Iceland”` as a `“GPE”` and when it gets the to `SpaczzRuler` it has already been tagged by the NER model so it gets skipped over by the ruler. If

[2022-04-02 13:50] kormilitzin opened #69 "UserWarning: [W036] The component 'matcher' does not have any patterns defined. matches = matcher(doc)"
Thanks a lot for your fabulous package; it is really helpful. However, when I tried to reproduce your results, I run into this error:

"UserWarning: [W036] The component 'matcher' does not have any patterns defined. matches = matcher(doc)"

Specifically, I used this code snippet:

[code]

When I add patterns to the spaCy's EntityRuler, it works OK, when I add patters to SpaczzRuler, it throws the

[2022-04-09 18:42] gandersen101 commented on #69
Hi @kormilitzin, thanks for your interest in spaczz! The warning you are seeing normally happens because of the way I have implemented the `TokenMatcher` (which is part of the `SpaczzRuler`) which will sometimes result in an empty spaCy `Matcher` being called on text. This is an inefficiency and something I need to fix but it shouldn't actually affect the results of the `EntityRuler` or the `Token

[2022-04-09 22:08] kormilitzin commented on #69
@gandersen101 Thanks a lot for your details response; that totally makes sense to me. This warning was a bit puzzling as your implementation did work as a charm (i.e. it identified fuzzy matches), but I was surprised to see this warning. I will keep trying and report if I find anything not right. Thanks again for your amazing package!

[2022-08-26 00:14] kwhumphreys commented on #20
@gandersen101 Thanks for the inspiration. I started a low-level integration of rapidfuzz into spaCy, to attempt to improve performance https://github.com/explosion/spaCy/pull/11359
Any thoughts/ideas welcome there.

[2022-09-21 00:28] lingvisa opened #71 "Is there a way to get back the original dictionary item that matches?"
[code]

@gandersen101 For both 'Grint' and 'Nashv1le' are from text, and their corresponding dictionary items are "Grant Andersen" and "Nashville". Is there a way to know which dictionary item matches the text? For example, if I want to find misspellings, how do I know 'Grint' is whose misspelling?

[2022-10-05 20:17] gandersen101 commented on #71
Hi @lingvisa, sorry for the slow response. I have had minimal time to work on `spaczz` for a while now but this has been highly requested.

I can't give any guaranteed timeline on addressing this but it is on my todo list. In the meantime please see this temporary workaround: https://github.com/gandersen101/spaczz/issues/55#issuecomment-803215367.

[2022-10-05 20:59] lingvisa commented on #71
Thanks for update. I will try the walk around first.

[2022-10-13 03:20] Rahul-Chittora commented on #71
Hello, If I am not wrong you can add the "id" in the patterns and while
`patterns = [
    {
        "label": "NAME",
        "pattern": "Grant Andersen",
        "type": "fuzzy",
        "kwargs": {"fuzzy_func": "token_sort"},
       "id": "Grant Andersen"
    }`
    While inferring you can use
    `
for ent in doc.ents:
    print(ent.text, ent.ent_id_)`

[2022-10-13 03:26] Rahul-Chittora opened #74 "Add pattern after adding to spacy pipeline taking long time and memory"
There are 1 Million patterns I am trying to add. On adding to blank spacy model:
`import spacy
from spaczz.pipeline import SpaczzRuler
nlp=spacy.blank('en')
spaczz_ruler = SpaczzRuler(nlp)
spaczz_ruler = nlp.add_pipe("spaczz_ruler") #spaCy v3 syntax
spaczz_ruler.add_patterns(patterns)
`It takes 8 GB of RAM and inference time is around 28 seconds.

If I try to add SpaczzRuler to current ner pipelin

[2022-11-25 22:03] gandersen101 commented on #20
@kwhumphreys very cool. Best of luck! Obviously I have not put much time into `spaczz` over the past couple years but the functionality is something people have been looking for. Hopefully you can get an official implementation into `spaCy` proper.

I'm going to add an announcement to the README - essentially I intend to address some issues/ add some functionality with `spaczz` going forward but I

[2022-11-29 20:30] 1ZvEzD1K1 opened #75 "install spaczz"
I try pip install spaczz but ....

 clang -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch arm64 -arch x86_64 -g -Iextern/rapidfuzz-cpp/ -Icapi/ -I/Library/Frameworks/Python.framework/Versions/3.11/include/python3.11 -c src/cpp_process.cpp -o build/temp.macosx-10.9-universal2-cpython-311/src/cpp_process.o -O3 -std=c++14 -Wextra -Wall -Wconversion -g0 -DNDE